
.App{
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.flexClass{
    display: flex;
    justify-content: center;

}

.button{
    color: white;
    margin: 10px;
    border: none;
    cursor: pointer;
}

.modalText{
    font-weight: bold;
    color: white;
    font-size: 16px;

}
